@using DYLS.Common.Id
@using DYLS.Common.Utils
@using DYLS.IDal
@using DYLS.IDal.Web
@using DYLS.Model.Db.Web
@using DYLS.Model.Ui
@{
    var category = HttpContextHelper.Get<Category>(HttpContextHelper.Category);
    var topCategory = HttpContextHelper.Get<Category>(HttpContextHelper.TopCategory);
    ViewData[ViewDataId.Page] = "case";
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeCustom;
    ViewData[ViewDataId.ShowComTop] = ViewDataId.ShowCommTop_Show;
}
@section top
    {

    @{
        var banners = DalFactory.GetInstance<IDalBanner>().GetByType(BannerType.Case);
        if (banners.Count > 0)
        {

            <div class="ns-banenr">
                <div class="max">
                    @foreach (var banner in banners)
                    {
                        var link = "javascript:void(0);";
                        if (!string.IsNullOrEmpty(banner.Link))
                        {
                            link = Url.Content(banner.Link);
                        }
                        @*<a href="@link">
                                <img src="@(ConfigHelper.Get(ConfigHelper.FileServerUrl) + Url.Content(banner.Image))" class="auto-size-img" />
                            </a>*@
                        <a href="@link" class="list" style="background-image: url(@(ConfigHelper.Get(ConfigHelper.FileServerUrl) + Url.Content(banner.Image)));">
                            <div class="text">
                                <div class="tc">@banner.Title</div>
                            </div>
                        </a>
                    }
                </div>
                <div class="btns">
                </div>
            </div>

        }
    }
    <div class="case-top">
        @Html.Partial("_ListNav", new ListNav() { ShowLine = false })
        @Html.Partial("_CaseWhere")
    </div>
}
<div class="content-inner list-page" data-c1="@(category.Guid)" data-c2="@(topCategory.Guid)">
    <div class="inner">
        <div id="vue-content">
            <div class="img-list">
                <a :href="'@Url.Content("~/list/detail/")' + item.guid + '/@(topCategory.Guid)'" class="list" v-for="(item,index) in list">
                    <div class="img">
                        <img :src="'@(ConfigHelper.Get(ConfigHelper.FileServerUrl))' + nshp.getImagePath(item.image.substring(1),710,340)" onload="nshp.showThis(this)" width="343" height="163" class="img-block" />
                        <div class="logo" :style="'background-image: url(@(ConfigHelper.Get(ConfigHelper.FileServerUrl))' + item.companyLogoImage.substring(1)+ ')'">
                        </div>
                        <div class="title">
                            <div class="tc">
                                {{item.companyName}}
                            </div>
                        </div>
                    </div>
                    <div class="title">
                        {{item.title}}
                    </div>
                    <div class="attr">
                        <span v-if="item.industry!=null && item.industry!=''">{{item.industry}}</span> <span v-if="item.purpose!=null && item.purpose!=''">| {{item.purpose}}</span> <span v-if="item.resource!=null && item.resource!=''">| {{item.resource}}</span>
                    </div>
                    <div class="labels">
                        <div class="item" v-if="item.label1!=null && item.label1!=''">
                            <div class="num">{{item.labelVal1}}</div>
                            <div class="name">{{item.label1}}</div>
                        </div>
                        <div class="item" v-if="item.label2!=null && item.label2!=''">
                            <div class="num">{{item.labelVal2}}</div>
                            <div class="name">{{item.label2}}</div>
                        </div>
                        <div class="item" v-if="item.label3!=null && item.label3!=''">
                            <div class="num">{{item.labelVal3}}</div>
                            <div class="name">{{item.label3}}</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="nodata" v-if="nodata">暂无数据</div>
        </div>

    </div>
</div>