@using DYLS.Common.Id
@using DYLS.Common.Utils
@using DYLS.Model.Db.Web
@{
    var category = HttpContextHelper.Get<Category>(HttpContextHelper.Category);
    var topCategory = HttpContextHelper.Get<Category>(HttpContextHelper.TopCategory);
    ViewData[ViewDataId.Page] = "commlist";
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeCustom;
    ViewData[ViewDataId.ShowComTop] = ViewDataId.ShowCommTop_Show;
}
@section top
    {
    @Html.Partial("_ListNav")
}
<div class="content-inner list-page" data-c1="@(category.Guid)" data-c2="@(topCategory.Guid)">
    <div class="inner">
        <div id="vue-content">
            <div class="comm-list" v-if="list.length>0">
                <a :href="(item.link!=null && item.link!='') ? item.link : '@Url.Content("~/list/detail/")' + item.guid + '/@(topCategory.Guid)'" :class="(item.image!==null && item.image!=='') ? 'list has-img' :'list'" v-for="(item,index) in list">
                    <div class="title">
                        <span class="label red" v-if="item.required && !item.read">必读</span> <span class="label gray" v-if="item.required && item.read">必读</span> <span class="label blue" v-if="item.isTop">置顶</span> <span class="label" :style="nshp.getLableColor(item.labelColor)" v-if="!item.isTop && item.label!==null && item.label!==''">{{item.label}}</span>  {{item.title}}
                    </div>
                    <div class="date">
                        <span>{{item.createTime.toDate().format("yyyy年MM月dd日")}}</span> <span v-if="item.thirdCategory!==null || item.secondCategory!==null || item.firstCategory!==null">|</span> <span v-if="item.thirdCategory!==null || item.secondCategory!==null || item.firstCategory!==null" class="s">{{item.thirdCategory==null ? item.secondCategory==null ? item.firstCategory==null ? '' : item.firstCategory : item.secondCategory : item.thirdCategory}}</span>
                    </div>
                    <div class="img" v-if="item.image!==null && item.image!==''">
                        <img v-if="item.image.indexOf('http') === -1" :src="'@(ConfigHelper.Get(ConfigHelper.FileServerUrl))' + item.image.substring(1)" class="auto-size-img" onload="nshp.showThis(this)" />
                        <img v-if="item.image.indexOf('http') !== -1" :src="item.image" onload="nshp.showThis(this)" class="auto-size-img" />
                    </div>
                </a>
            </div>
            <div class="nodata" v-if="nodata">暂无数据</div>
        </div>
    </div>
</div>