@using DYLS.Common.Id
@using DYLS.Common.Utils
@using DYLS.IDal
@using DYLS.IDal.Web
@using DYLS.Model.Db.Web
@{
    var category = HttpContextHelper.Get<Category>(HttpContextHelper.Category);
    var topCategory = HttpContextHelper.Get<Category>(HttpContextHelper.TopCategory);
    //ViewData[ViewDataId.Page] = "commlist";
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeCustom;
    var data = HttpContextHelper.Get<LecturerArticle>(HttpContextHelper.Model);
    ViewData[ViewDataId.ShareTitle] = data.ShareTitle;
    if (!string.IsNullOrEmpty(data.Description))
    {
        ViewData[ViewDataId.ShareDesc] = data.Description;
    }
    /*if (!string.IsNullOrEmpty(data.Image))
    {
        ViewData[ViewDataId.ShareImg] = ConfigHelper.Get(ConfigHelper.WebHost) + SystemHelper.ConvertImagePath(data.Image, 100, 100);
    }
}
@section top
    {
    @Html.Partial("_ListNav")
}
<div class="content-inner celebrity detail" data-c1="@(category.Guid)" data-c2="@(topCategory.Guid)">
    <div class="inner">
        <a href="javascript:void(0);" class="list">
            <div class="img">
                <img src="@(ConfigHelper.Get(ConfigHelper.FileServerUrl) + data.Image)" width="90" height="120" class="img-block" />
            </div>
            <div class="desc">
                <div class="name">
                    @data.Title
                </div>
                <div class="company" style="margin-bottom: 0px;">
                    @data.CompanyName
                </div>
                <div class="company">
                    @data.Label
                </div>
                <div class="text">
                    @data.Description
                </div>
                <div class="label">@category.Name</div>
            </div>
        </a>
        <div class="dc">
            @Html.Raw(data.Content)
        </div>


        @{
            var list = DalFactory.GetInstance<IDalLecturerArticleCase>().GetByArticleId(data.Id);
            if (list.Count > 0)
            {
                <div class="case-list">
                    <div class="title">优秀案例</div>
                    <div class="cl-c">
                        @foreach (var obj in list)
                        {
                            <a href="@Url.Content("~/list/detail/" + obj.Guid + "/" + obj.TopGuid)" class="clist">@obj.Title</a>
                        }
                    </div>
                </div>
            }
        }

        @{
            var list1 = DalFactory.GetInstance<IDalLecturerArticleCourseware>().GetByArticleId(data.Id);
            if (list1.Count > 0)
            {
                <div class="case-list">
                    <div class="title">优秀课件</div>
                    <div class="cl-c">
                        @foreach (var obj in list1)
                        {
                            <a href="@Url.Content("~/list/detail/" + obj.Guid + "/" + obj.TopGuid)" class="clist">@obj.Title</a>
                        }
                    </div>
                </div>
            }
        }
        @Html.Partial("_ArticleDoc", new DYLS.Model.Ui.ArticleDoc() { Type = topCategory.Type, ArticleId = data.Id })
        @Html.Partial("_Qr")

    </div>
</div>