@using DYLS.Common.Id
@using DYLS.Common.Utils
@using DYLS.Model.Db.Web
@{
    var category = HttpContextHelper.Get<Category>(HttpContextHelper.Category);
    var topCategory = HttpContextHelper.Get<Category>(HttpContextHelper.TopCategory);
    ViewData[ViewDataId.Page] = "lecturer";
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeCustom;
    ViewData[ViewDataId.ShowComTop] = ViewDataId.ShowCommTop_Show;
}
@section top
    {
    @Html.Partial("_ListNav")
}
<div class="content-inner celebrity" data-c1="@(category.Guid)" data-c2="@(topCategory.Guid)">
    <div class="inner">

        <div id="vue-content">

            <a :href="'@Url.Content("~/list/detail/")' + item.guid + '/@(topCategory.Guid)'" class="list" v-for="(item,index) in list" class="list">
                <div class="img">
                    <img :src="'@(ConfigHelper.Get(ConfigHelper.FileServerUrl))' + item.image" width="90" height="120" onload="nshp.showThis(this)" class="img-block" />
                </div>
                <div class="desc">
                    <div class="name">
                        {{item.title}}
                    </div>
                    <div class="company" style="margin-bottom: 0px;">
                        {{item.companyName}}
                    </div>
                    <div class="company">
                        {{item.label}}
                    </div>
                    <div class="text">
                        {{item.description}}
                    </div>
                    <div class="label">{{item.secondCategory}}</div>
                </div>
            </a>

            <div class="nodata" v-if="nodata">暂无数据</div>
        </div>

    </div>
</div>