@using DYLS.Common.Id
@using DYLS.Common.Utils
@using DYLS.Model.Db.Web
@{
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeHide;
    var data = HttpContextHelper.Get<CommListArticle>(HttpContextHelper.Model);
    ViewData[ViewDataId.Page] = "qa-detail";
    var c1 = HttpContextHelper.Get<Category>(HttpContextHelper.TopCategory);
    var c2 = HttpContextHelper.Get<Category>(HttpContextHelper.Category);
    ViewData[ViewDataId.ShareTitle] = data.ShareTitle;
    if (!string.IsNullOrEmpty(data.Description))
    {
        ViewData[ViewDataId.ShareDesc] = data.Description;
    }
    if (!string.IsNullOrEmpty(data.Image))
    {
        ViewData[ViewDataId.ShareImg] = ConfigHelper.Get(ConfigHelper.FileServerUrl) + SystemHelper.ConvertImagePath(data.Image, 100, 100);
    }
    var topCategory = HttpContextHelper.Get<Category>(HttpContextHelper.TopCategory);
}
<div class="content-inner detail" data-c1="@(c1.Guid)" data-c2="@(c2.Guid)" data-id="@data.Guid">
    <div class="inner">
        <div class="dc">
            <div class="title">
                @data.Title
            </div>
            <div class="date">
                @data.CreateTime.ToString("yyyy-MM-dd") <span>@(c2.Name)</span>
            </div>
            @Html.Raw(data.Content)
            <div class="height10"></div>
            <div class="is-useful">
                以上内容是否对您有帮助？
                <div class="height5"></div>
                <a class="yes" href="javascript:void(0);">是</a>
                <a class="no" href="javascript:void(0);">否</a>
            </div>
            @*<div class="height10"></div>*@
            @Html.Partial("_ArticleDoc", new DYLS.Model.Ui.ArticleDoc() { Type = topCategory.Type, ArticleId = data.Id })
            @Html.Partial("_Qr")
        </div>
    </div>
</div>