@using DYLS.Common.Id
@using DYLS.IDal
@using DYLS.IDal.Web
@using DYLS.Common.Utils
@using DYLS.Model.Db.Web
@{
    ViewData[ViewDataId.Page] = "index";
    ViewData[ViewDataId.ShowComTop] = ViewDataId.ShowCommTop_Show;
}
<div class="content-inner index">
    <div class="inner">
        @{
            var banners = DalFactory.GetInstance<IDalBanner>().GetByType(BannerType.Home);
            if (banners.Count > 0)
            {

                <div class="ns-banenr">
                    <div class="max">
                        @foreach (var banner in banners)
                        {
                            var link = "javascript:void(0);";
                            if (!string.IsNullOrEmpty(banner.Link))
                            {
                                link = Url.Content(banner.Link);
                            }
                            @*<a href="@link">
                                    <img src="@(ConfigHelper.Get(ConfigHelper.FileServerUrl) + Url.Content(banner.Image))" class="auto-size-img" />
                                </a>*@
                            <a href="@link" class="list" style="background-image: url(@(ConfigHelper.Get(ConfigHelper.FileServerUrl) + Url.Content(banner.Image)));">
                                <div class="text">
                                    <div class="tc">@banner.Title</div>
                                </div>
                            </a>
                        }
                    </div>
                    <div class="btns">
                    </div>
                </div>

            }
        }


        <div class="category">
            <div class="cc">
                <div class="cci">
                    <div class="height15"></div>
                    @{
                        var navList = DalFactory.GetInstance<IDalCategory>().GetHomeNav();
                        foreach (var category in navList)
                        {
                            <a href="~/List/Index/@category.Guid" class="item">
                                <div class="icon icon@((int) category.Icon)"></div>
                                @{
                                    var name = "";
                                    if (category.Name.Length <= 2)
                                    {
                                        name = category.Name;
                                    }
                                    else
                                    {
                                        name = category.Name.Substring(0, 2) + "<br />" + category.Name.Substring(2);
                                    }
                                }

                                <div class="name">@Html.Raw(name)</div>
                            </a>
                        }
                    }

                </div>
            </div>
        </div>

        <div id="vue-content">
            <div class="comm-list" v-if="list.length>0">
                <a :href="'@Url.Content("~/list/detail/")' + item.guid + '/' + item.topCid" :class="(item.image!==null && item.image!=='') ? 'list has-img' :'list'" v-for="(item,index) in list">
                    <div class="title">
                        <span class="label blue" v-if="item.isTop">置顶</span> <span class="label" :style="nshp.getLableColor(item.labelColor)" v-if="!item.isTop && item.label!==null && item.label!==''">{{item.label}}</span> {{item.title}}
                    </div>
                    <div class="date">
                        <span>{{item.createTime.toDate().format("yyyy年MM月dd日")}}</span> <span v-if="item.thirdCategory!==null || item.secondCategory!==null || item.firstCategory!==null">|</span> <span v-if="item.thirdCategory!==null || item.secondCategory!==null || item.firstCategory!==null" class="s">{{item.thirdCategory==null ? item.secondCategory==null ? item.firstCategory==null ? '' : item.firstCategory : item.secondCategory : item.thirdCategory}}</span>
                    </div>
                    <div class="img" v-if="item.image!==null && item.image!==''">
                        <img v-if="item.image.indexOf('http') === -1" :src="'@(ConfigHelper.Get(ConfigHelper.FileServerUrl))' + item.image.substring(1)" class="auto-size-img" />
                        <img v-if="item.image.indexOf('http') !== -1" :src="item.image" class="auto-size-img" />
                    </div>
                </a>
            </div>
            <div class="nodata" v-if="nodata">暂无推荐数据</div>
        </div>

    </div>
</div>