@using DYLS.Common.Id
@using DYLS.Model.Db.Web
@model DYLS.Model.Db.Web.User
@{
    ViewData[ViewDataId.ShowBottom] = ViewDataId.ShowBottom_TypeCopyright;
    ViewData[ViewDataId.ShowTelBtn] = ViewDataId.ShowTelBtn_TypeHide;
    ViewData[ViewDataId.ShowTop] = ViewDataId.ShowTop_TypeHide;
    ViewData[ViewDataId.Page] = "info";
}
<div class="content-inner reg">
    <div class="inner">
        <div class="banner">
            <img src="~/images/reg/banner.jpg" class="auto-size-img" />
        </div>
        <div class="form">
            <div class="item">
                <div class="icon name-icon"></div>
                <div class="input">
                    <input type="text" value="@(Model==null ? "" : Model.Name)" name="name" placeholder="姓名">
                </div>
            </div>
            <div class="item">
                <div class="icon company-icon"></div>
                <div class="input">
                    <input type="text" value="@(Model == null ? "" :Model.CompanyName)" data-id="@(Model == null ? "" : Model.CompanyId.ToString())" name="company" placeholder="完整公司名称">
                </div>
            </div>
            <div class="item">
                <div class="icon job-icon"></div>
                <div class="input">
                    <input type="text" value="@(Model == null ? "" : Model.Job)" name="job" placeholder="职位">
                    <div class="input-drop">
                        <select name="job-id">
                            <option value="0">请选择</option>
                            @{
                                var jobList = (IList<Job>)ViewData[ViewDataId.List1];
                                foreach (var job in jobList)
                                {
                                    if (Model != null && job.Id == Model.JobId)
                                    {
                                        <option selected value="@(job.Id)">@(job.Name)</option>
                                    }
                                    else
                                    {
                                        <option value="@(job.Id)">@(job.Name)</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="icon email-icon"></div>
                <div class="input">
                    <input type="text" value="@(Model==null ? "" : Model.Mail)" name="mail" placeholder="Email">
                </div>
            </div>
            <div class="height40"></div>
            <a href="javascript:void(0);" class="submit-btn">
                提 交
            </a>
            <div class="height20"></div>
            <div align="center">
                <a href="https://img.tencentads.com/adpage/home/index/TSAF44831449" style="color: #009afe;">
                    用户手册
                </a>
            </div>
        </div>
    </div>
</div>